


<div class="w3-content">
    <div class="w3-container">
      <h1>Offres à ne pas ratez</h1>
    </div>

    <img class="mySlides w3-animate-opacity" src="assets/img/nosProduits.png" style="width:100%">
    <img class="mySlides w3-animate-opacity" src="assets/img/slide2.jpg" style="width:100%">
    <img class="mySlides w3-animate-opacity" src="assets/img/slide3.jpg" style="width:100%">
    <img class="mySlides w3-animate-opacity" src="assets/img/slide4.jpg" style="width:100%">
    <img class="mySlides w3-animate-opacity" src="assets/img/slide5.jpg" style="width:100%">
    <img class="mySlides w3-animate-opacity" src="assets/img/slide6.jpg" style="width:100%">

    

    <div class="w3-row-padding w3-section">
      <div class="w3-col s2">
        <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/nosProduits.png" style="width:100%" (click)="currentDiv(1)">
      </div>
      <div class="w3-col s2">
        <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/slide2.jpg" style="width:100%" (click)="currentDiv(2)">
      </div>
      <div class="w3-col s2">
        <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/slide3.jpg" style="width:100%" (click)="currentDiv(3)">
      </div>
      <div class="w3-col s2">
        <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/slide4.jpg" style="width:100%" (click)="currentDiv(4)">
      </div>
      <div class="w3-col s2">
        <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/slide5.jpg" style="width:100%" (click)="currentDiv(5)">
      </div>
      <div class="w3-col s2">
        <img class="demo w3-opacity w3-hover-opacity-off" src="assets/img/slide6.jpg" style="width:100%" (click)="currentDiv(6)">
      </div>
    </div>

</div>