<div class="w3-content" style="margin-top:80px">

	<!-- Filtre Side Bar -->
	<div id="filtreNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" (click)="filtreClose()">&times;</a>
		<div class="overlay-content">
			<a>Filtrer</a>
			
			<input type="text" class="w3-xxlarge w3-center" placeholder="Tapez des mots clés ici...">
			
			<select class="w3-xlarge" >
				<option >Catégorie</option>
				<option >Télévision</option>	
				<option>Four</option>
				<option>Machine à laver</option>
				<option>Aspirateur</option>
				<option>Autre</option>
			</select>
			
			<select class="w3-center w3-xlarge ">
				<option>Marque</option>
				<option>LG</option>	
				<option>Samsung</option>
				<option>Samsung</option>
			</select>
			
			<div class="w3-row" style="width: 50%;margin:0 auto;">
				
				<input type="text" class="w3-xlarge w3-col s6 l6  w3-center" placeholder="Prix Min">
				<input type="text" class="w3-xlarge w3-col s6 l6 w3-center" placeholder="Prix Max">
			</div>

			<button class="w3-btn w3-white w3-round-xxlarge w3-hover-black w3-xlarge w3-margin-top">Lancer le Filtre</button>
			
		</div>
	</div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main">

		<!-- filtre side buttons -->
		<div id="mySidenav" class="sidenav">
			<a (click)="filtreOpen()" id="filter">Filter ←</a>
			<a  id="reset">Réinstaliser le Filtre ←</a>
		</div>

		<!-- Image header -->
		<div class="w3-display-container w3-container">
			<img src="assets/img/nosProduits.png" alt="Jeans" style="width:100%">
		</div>

		<div class="w3-container w3-text-grey" >
			<p>8 Produits</p>
		</div>

		<!-- Product grid -->
		<div class="w3-row w3-grayscale">
			
			
			<div *ngFor="let item of items; let ind = index" class="w3-col l3 s6 w3-margin">
				<div class="w3-container">
					<img src="{{item.img}}" style="width:100%;height: 200px">
					{{item.title}}<br><b>{{item.prix}} DH</b> <button (click)="filtreOpenDetail(ind)" class="w3-button w3-round-xxlarge w3-black w3-right w3-tiny">Détails</button>
				</div>
			</div>

		</div>
		<!-- End page content -->
	</div>

</div>

<!-- Pagination -->

<div class="center">
	<div class="pagination">
		<a href="#" class="active ">Précédent</a>
		<a href="#">1</a>
		<a href="#" >2</a>
		<a href="#" class="active">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#" class="active ">Suivant</a>
	</div>
</div>

<!-- Detail produit -->

<!-- detail -->
<div id="filtreNavDetail" class="overlayDetail">
	
	<a href="javascript:void(0)" class="closebtnDetail" (click)="filtreCloseDetail()">&times;</a>
	<div class="overlay-contentDetail w3-container">
		<a>Détails</a>

		<div class="w3-row">

			<a (click)="openCity('London');">
				<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Général</div>
			</a>
			
			<a (click)="openCity('Paris');">
				<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Description</div>
			</a>
			
			<a (click)="openCity('Tokyo');">
				<div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Ajouter</div>
			</a>
			
		</div>

		<div id="London" class="w3-container city w3-animate-top" style="display:none">
			<h2>Général</h2>
			<div class="w3-card-4 w3-white  w3-padding-24" style="width:60%;margin: auto">

				<div class="w3-container w3-row">
					
					<div class="w3-col l6 m6 s6" >
						<img src="{{currDetail.img}}" alt="Image" style="width:70%">
					</div>
					
					<div class="w3-col l6 m6 s6">
						<h1 class="">{{currDetail.title}}</h1>
						<h1 class="w3-tag w3-xxlarge w3-black w3-round-large">{{currDetail.prix}} DH</h1>
					</div>
					
				</div>

			</div>
		</div>

		<div id="Paris" class="w3-container city w3-animate-top" style="display:none">
			<h2>Description</h2>
			<p>{{currDetail.desc}}</p>
		</div>

		<div id="Tokyo" class="w3-container city w3-animate-top" style="display:none">
			<h2>Ajouter Au Panier</h2>
			<div class="w3-row w3-section">
				<button (click)="incQuant()" class="w3-button w3-col l4 m4 s4 w3-round-xxlarge w3-white w3-xxlarge"><b>+</b></button>
				<span class="w3-xxxlarge w3-col l4 m4 s4 w3-text-white" id="quantite">Quantité : {{quantitePanier}}</span>
				<button (click)="decQuant()" class="w3-button w3-col l4 m4 s4 w3-round-xxlarge w3-white w3-xxlarge"> <b>-</b></button>
			</div>

			<span style="width:100%;margin:auto" class="w3-section w3-xxxlarge w3-col l4 m4 s4 w3-text-white w3-center " id="quantite"> Total :{{valTot}} DH</span>
			
			<button style="width:50%;margin:auto" (click)="ajouterPanier()" class="w3-section w3-button w3-round-xxlarge w3-white w3-xxlarge">Ajouter Au Panier</button>
			
		</div>
		
</div>